.card {
    background: #fff;
    border-radius: 2px;
    height: 230px;
    margin: 16px;
    position: relative;
    width: 230px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
    transition: box-shadow .5s;
    transition: transform .2s
  }
  
.card:hover{
  cursor: pointer;
  box-shadow: 10px 10px 5px 0px rgb(0, 0, 204);
  transform: scale(1.1)
}

.card > .img-container {
    overflow: hidden;
    text-align: center;
    background:#6CADDC;
  }
.card > .img-container > img {
    width: 60%
  }