.header{
    text-align: center;
    width: 100%;
    background: palevioletred;
    font-family: 'Mali', cursive;
    margin-top: 0.5%
}

h1{
    font-size: 48px;
    font-weight: bold;
}

h5{
    font-size: 36px;
    font-weight: bolder;
}

@media screen and (max-width: 930px){
    .header{
        margin-top:10%;
    }
}