.nav-bar {
    position: fixed;
    top: -15px;
    left: 0;
    background: rgb(37, 37, 37);
    min-height: 50px;
    width: 100%;
    text-align: center;
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    color: #fff;
    font-size: 42px;
    font-weight: bold;
    z-index: 99;
    white-space: nowrap;
    padding-top: 10px;
    font-family: 'Gamja Flower', cursive;
}

.nav-bar li {
    padding: 0 50px;
}

.nav-bar a {
    color: #fff;
}

.desc-normal {
    color: #fff;
}

.desc-correct {
    color: #0f0;
}

.desc-incorrect {
    color: #f00;
}